
<!DOCTYPE html>
<html lang="en">
 
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welfare Requestition </title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body>
  
  <mat-toolbar >
    <span>Obtain Employee Uniforms</span>
    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">account_circle</mat-icon>
    <strong>User :</strong>
     <strong>{{ currentUser.Firstname }}</strong>  
        

    <a mat-button  (click)="openModal(template)">ประวัติ(Profile)</a>
    <a mat-button [routerLink]="['/orderequ']" >  ขอรับอุปกรณ์(Request Equipment)</a>

    <a mat-button  (click)="logout()"> ออกจากระบบ(Logout)</a>
  </mat-toolbar>

    <form  >
      <div class="mp-table">
    
       <div class="mat-elevation-z10">
        <h1>
          รายการขอรับอุปกรณ์(Equipment Request List)
         </h1>
       <table mat-table [dataSource]="dataSource" >

          <!-- Position Column -->
        <ng-container matColumnDef="no">
          <th mat-header-cell *matHeaderCellDef> No</th>
          <td mat-cell *matCellDef="let element; let i = index"> {{no+(i)}} </td>
        </ng-container>
      
        <!-- Position Column -->
        <ng-container matColumnDef="List">
          <th mat-header-cell *matHeaderCellDef> รายการ(List) </th>
          <td mat-cell *matCellDef="let element"> {{element.List}} </td>
        </ng-container>
      

        <!-- Weight Column -->
        <ng-container matColumnDef="Quantity">
          <th mat-header-cell *matHeaderCellDef> จำนวน/ชิ้น(Quantity) </th>
          <td mat-cell *matCellDef="let element"> {{element.Quantity}} </td>
        </ng-container>
      
        <!-- Symbol Column -->
        <ng-container matColumnDef="Remark">
          <th mat-header-cell *matHeaderCellDef> หมายเหตุ(Remark) </th>
          <td mat-cell *matCellDef="let element"> {{element.Remark}} </td>
        </ng-container>
          <!-- Symbol Column -->
          <ng-container matColumnDef="Date">
            <th mat-header-cell *matHeaderCellDef> วันที่(Date) </th>
            <td mat-cell *matCellDef="let element"> {{element.date}} </td>
          </ng-container>
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef> สถานะการขอรับ(status) </th>
          <td mat-cell *matCellDef="let element"> {{element.Status }} </td>
        </ng-container>
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef> แก้ไขการขอรับสินค้า(Edit) </th>
          <td mat-cell *matCellDef="let element"> 
            <mat-icon (click)="Updateorder(element.No_ID,element.Status)"  mat-raised-button class="example-icon"  color="primary" 
            aria-hidden="false" aria-label="Example user verified icon">edit_square</mat-icon>
          
        </ng-container>
        <ng-container matColumnDef="action1">
          <th mat-header-cell *matHeaderCellDef> ลบการขอรับ(Delete) </th>
          <td mat-cell *matCellDef="let element"> 
            <mat-icon (click)="Deleteorder(element.No_ID,element.Status)" mat-raised-button class="example-icon"  color="warn" 
            aria-hidden="false" aria-label="Example user verified icon">delete_forever</mat-icon>
           </td>
        </ng-container>

        <ng-container matColumnDef="action2">
          <th mat-header-cell *matHeaderCellDef> ยกเลิกการขอรับ </th>
          <td mat-cell *matCellDef="let element"> 
        
            <mat-icon (click)="Cancelorder(element.No_ID,element.Status)" mat-raised-button class="example-icon"  color="warn" 
            aria-hidden="false" aria-label="Example user verified icon">cancel</mat-icon>
           </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                     showFirstLastButtons 
                     aria-label="Select page of periodic elements">
        </mat-paginator>
      </div>
      
        </div>
        
      </form>
      
</body>
</html>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">ประวัติ(Profile)</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <h4>ชื่อ(FirstName): {{currentUser.Firstname}}</h4>
      <h4>นามสกุล(Lastname): {{currentUser.Lastname}}</h4>
      <h4>รหัสพนักงาน(EmpNo): {{currentUser.EmpNo}}</h4>
      <h4>ตำแหน่งพนักงาน(Position): {{currentUser.Position}}</h4>
      <h4>ฝ่ายพนักงาน(Department): {{currentUser.Department}}</h4>
      <h4>แผนกพนักงาน(Section): {{currentUser.Section}}</h4>
      <h4>ประเภทพนักงาน(Type_of_Employee): {{currentUser.Type_of_Employee}}</h4>
      <h4>รายละเอียดพนักงาน(Employee_Detail): {{currentUser.Employee_Detail }}</h4>
      <h4>วันที่พนักงานเริ่มงาน(Joined_date): {{currentUser.Joined_date}}</h4>
  </div>
  </div>
</ng-template>