.example-spacer {
    
  flex: 1 1 auto;
}

.mat-toolbar {
  background: #2bd48e;
  color: #ffffff;
  
}
  /*-----------------------------table-------------------------------------------------*/
  
  .mp-table{
    position: absolute;
    top: 10%; left: 30%;
    width:50%;

    
}


h1 {
text-align: center;
transform: translate(0%,-20%);
}


table,  mat-paginator {
  
  width: 100%;
 
  top: 30%;
  left: 30%;
}

  
  