
<!DOCTYPE html>
<html lang="en">
 
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welfare Requestition </title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body>
  <mat-toolbar >
    <span>Jcy</span>
    <span class="example-spacer"></span>
        <strong>{{ currentUser.Firstname }}</strong>
        <strong>{{ currentUser.Lastname }}</strong>
    <a mat-button [routerLink]="['/order']"> ออเดอร์การสั่งซื้อ</a>
    <a mat-button [routerLink]="['/orderequ']" > สั่งซื้ออุปกรณ์</a>
    <a mat-button  (click)="logout()"> Logout</a>
  </mat-toolbar>

    <form  >
      <div class="mp-table">
       <h1>
        ออเดอร์การสั่งซื้อ(Ordering)
       </h1>
       <div class="mat-elevation-z10">
       <table mat-table [dataSource]="dataSource" >

          <!-- Position Column -->
        <ng-container matColumnDef="no">
          <th mat-header-cell *matHeaderCellDef> No </th>
          <td mat-cell *matCellDef="let element; let i = index"> {{no+(i)}} </td>
        </ng-container>
      
        <!-- Position Column -->
        <ng-container matColumnDef="List">
          <th mat-header-cell *matHeaderCellDef> List </th>
          <td mat-cell *matCellDef="let element"> {{element.List}} </td>
        </ng-container>
      

        <!-- Weight Column -->
        <ng-container matColumnDef="Quantity">
          <th mat-header-cell *matHeaderCellDef> Quantity </th>
          <td mat-cell *matCellDef="let element"> {{element.Quantity}} </td>
        </ng-container>
      
        <!-- Symbol Column -->
        <ng-container matColumnDef="Remark">
          <th mat-header-cell *matHeaderCellDef> Remark </th>
          <td mat-cell *matCellDef="let element"> {{element.Remark}} </td>
        </ng-container>
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef> Update </th>
          <td mat-cell *matCellDef="let element"> 
          <a (click)="Updateorder(element.No_ID)" mat-raised-button  color="warn" >Update</a>
        </ng-container>
        <ng-container matColumnDef="action1">
          <th mat-header-cell *matHeaderCellDef> Delete </th>
          <td mat-cell *matCellDef="let element"> 
            <a  (click)="Deleteorder(element.No_ID)" mat-raised-button  color="warn"
            > Delete</a> </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                     showFirstLastButtons 
                     aria-label="Select page of periodic elements">
        </mat-paginator>
      </div>
      
        </div>
        
      </form>
</body>
</html>