.example-spacer {
    
  flex: 1 1 auto;
}

.mat-toolbar {
  background: #2bd48e;
  color: #ffffff;
  
}
  
.mp-table{
    position: absolute;
    top: 20%; left: 20%;
    width:60%;

}


h1 {
text-align: center;
transform: translate(0%,40%);
}


table,  mat-paginator {
  
  width: 100%;
 
  top: 40%;
  left: 30%;
}

  
  