.example-spacer {
    
  flex: 1 1 auto;
}

.mat-toolbar {
  background: #2bd48e;
  color: #ffffff;
  
}
  
.mp-table{
    position: absolute;
    top: 20%; left: 15%;
    width:70%;

}


h1 {
text-align: center;
transform: translate(0%,40%);
}


table,  mat-paginator {
  
  width: 100%;
 
  top: 40%;
  left: 30%;
}

.example-icon{
  width: 100;
}
  
.example-full-width {
  width: 100%;
}