<body>  
  <mat-toolbar >
    <span>Jcy</span>
    <span class="example-spacer"></span>

  </mat-toolbar>
<form class="mb-3"     [formGroup]="loginForm"    (ngSubmit)=" Get_login()"  >
  <h1>Login</h1>
<p>
  <mat-form-field appearance="outline" >
    <mat-label for="Username">Username</mat-label>
    <input matInput type="text" class="form-control" formControlName="Username" name="Username"    >
 
  </mat-form-field>
</p>
<p>
  
  <mat-form-field appearance="outline">
    <mat-label for="Password">Password</mat-label>
    <input matInput type="Password" class="form-control" formControlName="Password" name="Password"   >
  </mat-form-field>
</p>
<section>
  
  <div class="example-button-row">
    <button type="submit" mat-raised-button >Login</button>

    <button [routerLink]="['/register']"  mat-raised-button>Register</button>
  </div>
  
</section>
</form>
</body>