.example-spacer {
    
  flex: 1 1 auto;
}

.mat-toolbar {
  background: #2bd48e;
  color: #ffffff;
  
}
.mb-3 {
  width: 250px;
  height: 200px;
  position: absolute;
  top: 30%;
  left: 51%;
  margin-top: -100px;
  margin-left: -100px;
  text-align: center;
}

section {
  display: table;
}


.example-button-row {
  display: table-cell;
  width: 490px;
}

.example-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}


