<!DOCTYPE html>
<html lang="en">
<body>
    <mat-toolbar >
      <span>Jcy</span>
      <span class="example-spacer"></span>
          <strong>{{ currentUser.Firstname }}</strong>
          <strong>{{ currentUser.Lastname }}</strong>
          <a mat-button  (click)="admin()"> Admin</a>
      <a mat-button  (click)="logout()"> Logout</a>
    </mat-toolbar>
    <form    [formGroup]="formapproval"   >
    
      <div class="mat-elevation-z8">
        <table  class="mp-table" mat-table [dataSource]="dataSource">
      
       

             <!-- Name Column -->
             <ng-container matColumnDef="Name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.Firstname}} </td>
              </ng-container>
      
          <!-- Name Column -->
          <ng-container matColumnDef="List">
            <th mat-header-cell *matHeaderCellDef> List </th>
            <td mat-cell *matCellDef="let element"> {{element.List}} </td>
          </ng-container>
      
          <!-- Weight Column -->
          <ng-container matColumnDef="Quantity">
            <th mat-header-cell *matHeaderCellDef> Quantity </th>
            <td mat-cell *matCellDef="let element"> {{element.Quantity}} </td>
          </ng-container>
      
          <!-- Symbol Column -->
          <ng-container matColumnDef="Remark">
            <th mat-header-cell *matHeaderCellDef> Remark </th>
            <td mat-cell *matCellDef="let element"> {{element.Remark}} </td>
          </ng-container>

         
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
  
      </div>
      <div class="mb-2" >
    <p>
        <mat-form-field appearance="outline">
            <mat-label>Approved By</mat-label>
            <input matInput >
            
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Issued By</mat-label>
            <input matInput >
    
          </mat-form-field>
        </p>
        <div class="button1">
            <button  type="submit" class="btn btn-success" >ยืนยัน (Confirm)</button>
            
          </div>
        </div>
        </form>
</body>
</html>