.example-spacer {
    
  flex: 1 1 auto;
}

.mat-toolbar {
  background: #2bd48e;
  color: #ffffff;
  
}


.mp-table{
    position: absolute;
    left: 400px;
    top: 150px;
    
    
}
table, td, th {    
    border: 1px solid #ddd;
    text-align: left;

}

th, td {
    padding: 15px;
}
h1 {
text-align: center;
transform: translate(-5%,-20%);
}


.mb-2 {
  position: absolute;
  left: 500px;
  top: 350px;
}
.button1{
  position: absolute;
  left: 650px;
  top: 450px;
}




