
<!DOCTYPE html>
<html lang="en">
 
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welfare Requestition </title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body>
  <mat-toolbar >
    <span>Welfare Requestition</span>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">account_circle</mat-icon>
    <strong>User :</strong>
        <strong>{{ currentUser.Firstname }}</strong>
    <a mat-button [routerLink]="['/order']"> ออเดอร์การสั่งซื้อ (Ordering)</a>
    <a mat-button  (click)="logout()"> ออกจากระบบ(Logout)</a>
  </mat-toolbar>

    
      <div class="mp-table" >
        <form [formGroup]="formoorderequ"   (ngSubmit)="Get_Orderequ()">
       <h1>
        สั่งซื้ออุปกรณ์(Order Equpment)
       </h1>
       <p>
        <strong>FirstName(ชื่อ):</strong>
        {{currentUser.Firstname  }}
    </p>
    <p>
        <strong>Lastname(นามสกุล):</strong>
        {{ currentUser.Lastname }}
    </p>
    <p>
        <strong>EmpNo(รหัสพนักงาน) :</strong>
        {{currentUser.EmpNo  }}
    </p>
    <p>
        <strong>Position(ตำแหน่งพนักงาน):</strong>
        {{ currentUser.Position }}
    </p>
    <p>
        <strong>Department(ฝ่ายพนักงาน):</strong>
        {{ currentUser.Department }}
    </p>
    <p>
        <strong>Section(แผนกพนักงาน) :</strong>
        {{ currentUser.Section }}
      </p>
      <p>
        <strong>Type_of_Employee(ประเภทพนักงาน):</strong>
        {{ currentUser.Type_of_Employee }}
    </p>
    <p>
        <strong>Employee_Detail(รายละเอียดพนักงาน):</strong>
        {{currentUser.Employee_Detail }}
    </p>
    <p>
        <strong>Joined_date(วันที่พนักงานเริ่มงาน) :</strong>
        {{ currentUser.Joined_date }}
      </p>
  
       
        <table>
            <tr>
            
              <th>เลือกสินค้า(Select Products)</th>
              <th>จำนวน/ชิ้น (Quantity)</th>
              <th>หมายเหตุ(Remark)</th>
              

            </tr>
            <tr >

              <td>
                <input class="form-control" list="datalistOptions" id="exampleDataList" formControlName="list" placeholder="">
                <datalist id="datalistOptions">
                  <option *ngFor="let post of item" [value]="post.List">
              </datalist> </td>
              <td><input type="Value" class="form-control"  formControlName="Quantity"></td>
              <td><input type="text" class="form-control" formControlName="Remark"></td>                         
            
            </tr>
        
            </table>
            <p>
              <mat-form-field appearance="outline" >
                <mat-label>ผู้สั่งซื้อ(Request By)</mat-label>
                <input matInput   formControlName="Request_By">
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>ผู้อนุมัติ(Approved By)</mat-label>
                <input matInput  [disabled]="true">
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>ผู้ส่งมอบ(Issued By)</mat-label>
                <input matInput [disabled]="true" >
              </mat-form-field>
            </p>
          <div class="button1">
            <button  type="submit" mat-raised-button >ยืนยัน (Confirm)</button>
            <button [routerLink]="['/order']" type="submit" mat-raised-button>ยกเลิก (Cancel)</button>
          </div>
        </form>
        </div>
</body>
</html>
