.example-spacer {
    
  flex: 1 1 auto;
}

.mat-toolbar {
  background: #2bd48e;
  color: #ffffff;
  
}


.mp-table{
    position: absolute;
    top: 10%;
    left: 30%;
    
}
table, td, th {    
    border: 1px solid #ddd;
    text-align: left;
 

}

table {
    
    width: 100%;
}

th, td {
    padding: 15px;
}
h1 {
text-align: center;
transform: translate(-5%,-20%);
}






