
<!DOCTYPE html>
<html lang="en">
 
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welfare Requestition </title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body>


  
<div class="page-wrapper chiller-theme toggled">
    <nav id="sidebar" class="sidebar-wrapper">
        <div class="img">
        <img
        width="120"
        
        alt="Jcy"
        src="https://sv1.picz.in.th/images/2022/12/21/JNQLLQ.jpg"
      />
    </div>
    <div class="order">
      <button [routerLink]="['/order']" type="button" class="btn btn-success">ออเดอร์การสั่งซื้อ(Ordering)</button>
      <button [routerLink]="['/orderequ']" type="button" class="btn btn-success">สั่งซื้ออุปกรณ์(Order Equipment)</button>

        </div>
      <div class="sidebar-content">
        
        <div class="sidebar-header">
          <div class="user-pic">
            <img class="img-responsive img-rounded" src="https://sv1.picz.in.th/images/2022/12/21/JNIGHy.jpg"
              alt="User picture">
          </div>
          
          <div class="user-info">
            <span class="user-name">
              <strong>{{ currentUser.Firstname }}</strong>
            </span>
          
          </div>
        </div>
        <div class="sidebar-memu">
           
    
        </div><br>
        <div class="sidebar-loguout">
          <button [routerLink]="['/login']" type="submit" class="btn btn-success" >ออกจากระบบ(Logout)</button>
        </div>
    </div>

        </nav>
    </div>
    
      <div class="mp-table" >
        <form [formGroup]="formoorderequ"   (ngSubmit)="Get_Updateorder()">
       <h1>
        แก้ไขการสั่งซื้ออุปกรณ์(Edit Order Equpment)
       </h1>
       <p>
        <strong>FirstName(ชื่อ):</strong>
        {{currentUser.Firstname  }}
        <strong>Lastname(นามสกุล):</strong>
        {{ currentUser.Lastname }}
        <strong>EmpNo(รหัสพนักงาน) :</strong>
        {{currentUser.EmpNo  }}
      </p>
      <p>
        <strong>Position(ตำแหน่งพนักงาน):</strong>
        {{ currentUser.Position }}
        <strong>Department(ฝ่ายพนักงาน):</strong>
        {{ currentUser.Department }}
        <strong>Section(แผนกพนักงาน) :</strong>
        {{ currentUser.Section }}
      </p>
      <p>
        <strong>Type_of_Employee(ประเภทพนักงาน):</strong>
        {{ currentUser.Type_of_Employee }}
        <strong>Employee_Detail(รายละเอียดพนักงาน):</strong>
        {{currentUser.Employee_Detail }}
        <strong>Joined_date(วันที่พนักงานเริ่มงาน) :</strong>
        {{ currentUser.Joined_date }}
      </p>
  
       
        <table>
            <tr>
            
              <th>รายการ(List)</th>
              <th>จำนวน/ชิ้น (Quantity)</th>
              <th>หมายเหตุ(Remark)</th>
              

            </tr>
            <tr >

              <td>
                <input class="form-control" list="datalistOptions" id="exampleDataList" formControlName="list" placeholder="">
                <datalist id="datalistOptions">
                  <option *ngFor="let post of item" [value]="post.List">
              </datalist> </td>
              <td><input type="Value" class="form-control"  formControlName="Quantity"></td>
              <td><input type="text" class="form-control" formControlName="Remark"></td>                         
            
            </tr>
            </table>
            <p>
              <mat-form-field appearance="outline">
                <mat-label>Request By(ผู้ข้อ)</mat-label>
                <input matInput placeholder="">
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Approved By(ผู้อนุมัติ)</mat-label>
                <input matInput placeholder="">
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Issued By(ผู้ส่งมอบ)</mat-label>
                <input matInput placeholder="">
              </mat-form-field>
            </p>
          <div class="button">
            <button  type="submit" class="btn btn-success" >ยืนยัน (Confirm)</button>
            <button [routerLink]="['/order']" type="submit" class="btn btn-success"color="green" >ยกเลิก (Cancel)</button>
          </div>
        </form>
        </div>
</body>
</html>
