<!DOCTYPE html>
<html lang="en">
<body>
    <mat-toolbar >
      <span>Obtain Employee Uniforms</span>
      <span class="example-spacer"></span>
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">account_circle</mat-icon>
      <strong>Admin :</strong>
          <strong>{{ currentUser.Firstname }}</strong>
 
      <a mat-button  (click)="logout()"> ออกจากระบบ(Logout)</a>
    </mat-toolbar>
    <form class="mp-table">
        <div class="mat-elevation-z8">
          <h1>
            รายการขอรับอุปกรณ์(Equipment Request List)
           </h1>
           <mat-form-field appearance="outline">
            <mat-label>ค้นหารายการ</mat-label>
            <input matInput placeholder="ระบุวันที่" (keyup)="Filterchange($event)">
          </mat-form-field>

            <table mat-table   [dataSource]="dataSource" >
          
              <!-- Position Column -->
              <ng-container matColumnDef="no">
                <th mat-header-cell  *matHeaderCellDef> ลำดับ(No) </th>
                <td mat-cell *matCellDef="let element; let i = index"> {{no+(i)}}</td>
              </ng-container>

                 <!-- Name Column -->
                 <ng-container matColumnDef="Name">
                    <th mat-header-cell *matHeaderCellDef> ชื่อ(Name) </th>
                    <td mat-cell *matCellDef="let element"> {{element.Firstname}} </td>
                  </ng-container>
          
              <!-- Name Column -->
              <ng-container matColumnDef="List">
                <th mat-header-cell *matHeaderCellDef> รายการ(List) </th>
                <td mat-cell *matCellDef="let element"> {{element.List}} </td>
              </ng-container>
          
              <!-- Weight Column -->
              <ng-container matColumnDef="Quantity">
                <th mat-header-cell *matHeaderCellDef> จำนวน/ชิ้น(Quantity) </th>
                <td mat-cell *matCellDef="let element"> {{element.Quantity}} </td>
              </ng-container>
          
              <!-- Weight Column -->
              <ng-container matColumnDef="Date">
                  <th mat-header-cell *matHeaderCellDef> วันที่(Date) </th>
                  <td mat-cell *matCellDef="let element"> {{element.date}} </td>
              </ng-container>

              <!-- Symbol Column -->
              <ng-container matColumnDef="Remark">
                <th mat-header-cell *matHeaderCellDef> หมายเหตุ(Remark) </th>
                <td mat-cell *matCellDef="let element"> {{element.Remark}} </td>
              </ng-container>
              
              <ng-container matColumnDef="Cancel">
                <th mat-header-cell *matHeaderCellDef> แจ้งยกเลิก(Cancel) </th>
                <td mat-cell *matCellDef="let element"> {{element.RemarkCancel}} </td>
              </ng-container>
                  
              <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef> สถานะ(status) </th>
                <td mat-cell *matCellDef="let element"> {{element.Status}} </td>
              </ng-container>

              <ng-container matColumnDef="approval">
                <th mat-header-cell *matHeaderCellDef> Approved_By </th>
                <td mat-cell *matCellDef="let element"> 
                <a (click)="sign_approval(element.No_ID,element.Status)" mat-raised-button  color="warn" >ลงชื่อ</a>
              </ng-container>

              <ng-container matColumnDef="Issued">
                <th mat-header-cell *matHeaderCellDef> Issued_By </th>
                <td mat-cell *matCellDef="let element"> 
                <a (click)=" sign_Issued(element.No_ID,element.Status)" mat-raised-button  color="primary" >ลงชื่อ</a>
              </ng-container>


              <ng-container matColumnDef="Cancel2">
                <th mat-header-cell *matHeaderCellDef> ยกเลิก(Cancel)</th>
                <td mat-cell *matCellDef="let element"> 
                  <a (click)=" Cancel(element.No_ID,element.Status)" mat-raised-button  color="primary" >ยกเลิก</a>
         
                 </td>
              </ng-container>

       
          
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          
            <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                           showFirstLastButtons
                           aria-label="Select page of periodic elements">
            </mat-paginator>
          </div>
          
        </form>
</body>
</html>