<!DOCTYPE html>
<html lang="en">
<body>
    <mat-toolbar >
      <span>Welfare Requestition</span>
      <span class="example-spacer"></span>
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">account_circle</mat-icon>
      <strong>Admin :</strong>
          <strong>{{ currentUser.Firstname }}</strong>
 
      <a mat-button  (click)="logout()"> ออกจากระบบ(Logout)</a>
    </mat-toolbar>
    <form class="mp-table">
        <div class="mat-elevation-z8">
          <h1>
            ออเดอร์การสั่งซื้อ(Ordering)
           </h1>
            <table mat-table [dataSource]="dataSource">
          
              <!-- Position Column -->
              <ng-container matColumnDef="no">
                <th mat-header-cell *matHeaderCellDef> ลำดับ(No) </th>
                <td mat-cell *matCellDef="let element; let i = index"> {{no+(i)}}</td>
              </ng-container>

                 <!-- Name Column -->
                 <ng-container matColumnDef="Name">
                    <th mat-header-cell *matHeaderCellDef> ชื่อ(Name) </th>
                    <td mat-cell *matCellDef="let element"> {{element.Firstname}} </td>
                  </ng-container>
          
              <!-- Name Column -->
              <ng-container matColumnDef="List">
                <th mat-header-cell *matHeaderCellDef> รายการ(List) </th>
                <td mat-cell *matCellDef="let element"> {{element.List}} </td>
              </ng-container>
          
              <!-- Weight Column -->
              <ng-container matColumnDef="Quantity">
                <th mat-header-cell *matHeaderCellDef> จำนวน/ชิ้น(Quantity) </th>
                <td mat-cell *matCellDef="let element"> {{element.Quantity}} </td>
              </ng-container>
          
              <!-- Symbol Column -->
              <ng-container matColumnDef="Remark">
                <th mat-header-cell *matHeaderCellDef> หมายเหตุ(Remark) </th>
                <td mat-cell *matCellDef="let element"> {{element.Remark}} </td>
              </ng-container>

              <ng-container matColumnDef="approval">
                <th mat-header-cell *matHeaderCellDef> ลงชื่อ(sing) </th>
                <td mat-cell *matCellDef="let element"> 
                <a (click)="sign_approval(element.No_ID)" mat-raised-button  color="warn" >ลงชื่อ(sing)</a>
              </ng-container>
          
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          
            <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                           showFirstLastButtons
                           aria-label="Select page of periodic elements">
            </mat-paginator>
          </div>
          
        </form>
</body>
</html>