<body>   <mat-toolbar >
  <span>Welfare Requestition Form</span>
  <span class="example-spacer"></span>

</mat-toolbar>
  <form class="mb-3" (ngSubmit)="Get_Register()" [formGroup]="formRegister">
    <h1>สมัครสมาชิก(Register)</h1>
    <div class="example-container">
  <p>
    <mat-form-field appearance="outline" >
      <mat-label>ชื่อผู้ใช้งาน(Usernam)</mat-label>
      <input matInput formControlName="Username" name="Username">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>รหัสผ่าน(Password)</mat-label>
      <input type="Password" matInput formControlName="Password" name="Password">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>ชื่อจริง(Firstname)</mat-label>
      <input matInput formControlName="Firstname" name="Firstname">
    </mat-form-field>
    
    <mat-form-field appearance="outline">
      <mat-label>นามสกุล(Lastname)</mat-label>
      <input matInput formControlName="Lastname" name="Lastname">
    </mat-form-field>
  
  <p>
    <mat-form-field appearance="outline">
      <mat-label>รหัสพนักงาน(EmpNo)</mat-label>
      <input matInput formControlName="EmpNo" name="EmpNo">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>ตำแหน่งพนักงาน(Position)</mat-label>
      <input matInput formControlName="Position" name="Position">
    </mat-form-field>
  </p>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>ฝ่าย(Department)</mat-label>
      <mat-select formControlName="Department" >
        <mat-option></mat-option>
        <mat-option value="Quality Assurance">Quality Assurance</mat-option>
        <mat-option value="Production">Production</mat-option>
        <mat-option value="Engineering">Engineering</mat-option>
        <mat-option value="Human Resources">Human Resources</mat-option>
        <mat-option value="รายเดือน">Finance&Accounting</mat-option>
        <mat-option value="รายเดือน">Management</mat-option>
        <mat-option value="รายเดือน">Supply Chain Management</mat-option>
        <mat-option value="รายเดือน">Facility&Maintenance</mat-option>
        <mat-option value="รายเดือน">Purchase</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>แผนก(Section)</mat-label>
      <mat-select formControlName="Section">
        <mat-option></mat-option>
        <mat-option value="รายเดือน">IPQA/B</mat-option>
      <mat-option value="รายเดือน">IPQA/A</mat-option>
      <mat-option value="รายเดือน">QA-MRB 3.5/A</mat-option>
      <mat-option value="รายเดือน">CMM/B</mat-option>
      <mat-option value="รายเดือน">CQE</mat-option>
      <mat-option value="รายเดือน">Document/B</mat-option>
      <mat-option value="รายเดือน">CMM/A</mat-option>
      <mat-option value="รายเดือน">QA-MRB 2.5/B</mat-option>
      <mat-option value="รายเดือน">Document/A</mat-option>
      <mat-option value="รายเดือน">Contamination Control/A</mat-option>
      <mat-option value="รายเดือน">QA-MRB 2.5/A</mat-option>
      <mat-option value="รายเดือน">OQA/A</mat-option>
      <mat-option value="รายเดือน">IQA/A</mat-option>
      <mat-option value="รายเดือน">OQA/B</mat-option>
      <mat-option value="รายเดือน">SPC/A</mat-option>
      <mat-option value="รายเดือน">Calibation/A</mat-option>
      <mat-option value="รายเดือน">Contamination Control/B </mat-option>
      <mat-option value="รายเดือน">IQA/B</mat-option>
      <mat-option value="รายเดือน">QA-MRB 3.5/B</mat-option>
      <mat-option value="รายเดือน">SPC/B</mat-option>
      <mat-option value="รายเดือน">MC-Seagate/A</mat-option>
      <mat-option value="รายเดือน">MC-Seagate/B</mat-option>
      <mat-option value="รายเดือน">Incoming sort/A</mat-option>
      <mat-option value="รายเดือน">VMI-DSP/B</mat-option>
      <mat-option value="รายเดือน">VMI-Seagate/B</mat-option>
      <mat-option value="รายเดือน">VMI-Seagate/A</mat-option>
      <mat-option value="รายเดือน">Sorting/A</mat-option>
      <mat-option value="รายเดือน">Sorting/B</mat-option>
      <mat-option value="รายเดือน">Washing 3.5/B</mat-option>
      <mat-option value="รายเดือน">Incoming sort/B</mat-option>
      <mat-option value="รายเดือน">Washing 3.5/A</mat-option>
      <mat-option value="รายเดือน">VMI-DSP/A</mat-option>
      <mat-option value="รายเดือน">Trainning/B</mat-option>
      <mat-option value="รายเดือน">Trainning/A</mat-option>
      <mat-option value="รายเดือน">Washing 2.5/A</mat-option>
      <mat-option value="รายเดือน">Process Engineering/B</mat-option>
      <mat-option value="รายเดือน">Process Engineering/A</mat-option>
      <mat-option value="รายเดือน">Automation/A</mat-option>
      <mat-option value="รายเดือน">Automation/B</mat-option>
      <mat-option value="รายเดือน">Admin/B</mat-option>
      <mat-option value="รายเดือน">HRM/A</mat-option>
      <mat-option value="รายเดือน">HRD/A</mat-option>
      <mat-option value="รายเดือน">Admin/A</mat-option>
      <mat-option value="รายเดือน">Accounting/A</mat-option>
      <mat-option value="รายเดือน">Payroll</mat-option>
      <mat-option value="รายเดือน">IT</mat-option>
      <mat-option value="รายเดือน">SHE</mat-option>
      <mat-option value="รายเดือน">Management</mat-option>
      <mat-option value="รายเดือน">Warehouse/B</mat-option>
      <mat-option value="รายเดือน">Warehouse/A</mat-option>
      <mat-option value="รายเดือน">CS</mat-option>
      <mat-option value="รายเดือน">Material Planning/A</mat-option>
      <mat-option value="รายเดือน">Maintenance/B</mat-option>
      <mat-option value="รายเดือน">Washing/A</mat-option>
      <mat-option value="รายเดือน">Washing/B</mat-option>
      <mat-option value="รายเดือน">Maintenance/A</mat-option>
      <mat-option  value="รายเดือน">Facility/A</mat-option>
      <mat-option value="รายเดือน">Purchase</mat-option>
      </mat-select>
    </mat-form-field>
    </div>
    <div>
    <mat-form-field appearance="fill">
      <mat-label>ประเภทพนักงาน(Type_of_Employee)</mat-label>
      <mat-select formControlName="Type_of_Employee">
        <mat-option ></mat-option>
        <mat-option value="รายวัน">รายวัน</mat-option>
        <mat-option value="รายเดือน">รายเดือน</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>รายละเอียดพนักงาน(Employee_Detail)</mat-label>
      <mat-select  formControlName="Employee_Detail">
        <mat-option ></mat-option>
        <mat-option value="พนักงานใหม่">พนักงานใหม่</mat-option>
        <mat-option value="พนักงานประจำ">พนักงานประจำ</mat-option>
        <mat-option value="พนักงาน Sub">พนักงาน Sub</mat-option>
      </mat-select>
    </mat-form-field>
    
    </div>
    

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>วันที่เริ่มงาน(๋joined date)</mat-label>
      <input matInput  type="date" class="form-control" 
      formControlName="Joined_date">
      
     
       
    </mat-form-field>
  
</div>


  <section>
    <div class="example-button-row">
      <button type="submit"  mat-raised-button>สมัครสมาชิก(Register)</button>
      <button [routerLink]="['/login']"  mat-raised-button>เข้าสู่ระบบ(Login)</button>
    </div>
  </section>
  </form>
  </body>