<body>  <mat-toolbar>
    <span class="example-icon">  <img
      width="60"
      alt="Jcy"
      src="https://sv1.picz.in.th/images/2022/12/21/JNQLLQ.jpg"
    /></span>
  </mat-toolbar>
  <form class="mb-3" (ngSubmit)="onSubmit()" [formGroup]="formRegister">
    <h1>Register</h1>
    <div class="example-container">
  <p>
    <mat-form-field appearance="outline" >
      <mat-label>Username</mat-label>
      <input matInput formControlName="Username">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput formControlName="Password">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Firstname</mat-label>
      <input matInput formControlName="Firstname">
    </mat-form-field>
    
    <mat-form-field appearance="outline">
      <mat-label>Lastname</mat-label>
      <input matInput formControlName="Lastname">
    </mat-form-field>
  
  <p>
    <mat-form-field appearance="outline">
      <mat-label>EmpNo</mat-label>
      <input matInput formControlName="EmpNo">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Position</mat-label>
      <input matInput formControlName="Position">
    </mat-form-field>
  </p>
  <div>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Department</mat-label>
    <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto" formControlName="Department">
    <mat-autocomplete #auto="matAutocomplete" >
      <mat-option *ngFor="let option of filteredDepartment | async" [value]="option">
        {{option.name}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Section</mat-label>
    <input type="text" matInput [formControl]="myControl" [matAutocomplete]="autoSection" formControlName="Section">
    <mat-autocomplete #autoSection="matAutocomplete" >
      <mat-option *ngFor="let option of filteredSection | async" [value]="option">
        {{option.name}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>
<div>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Type_of_Employee</mat-label>
      <input type="text" matInput [formControl]="myControl" [matAutocomplete]="autoType_of_Employe" formControlName="Type_of_Employee">
      <mat-autocomplete #autoType_of_Employe="matAutocomplete" >
        <mat-option *ngFor="let option of filteredType_of_Employee| async" [value]="option">
          {{option.name}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Employee_Detail</mat-label>
      <input type="text" matInput [formControl]="myControl" [matAutocomplete]="autoEmployee_Detail" formControlName="Employee_Detail">
      <mat-autocomplete #autoEmployee_Detail="matAutocomplete" >
        <mat-option *ngFor="let option of filteredEmployee_Detail | async" [value]="option">
          {{option.name}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
  <mat-form-field appearance="fill">
    <mat-label>Joined_date</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="Joined_date">

    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</div>


  <section>
    <div class="example-button-row">
      <button type="submit"  mat-raised-button>Register</button>
      <button [routerLink]="['/login']"  mat-raised-button>Login</button>
    </div>
  </section>
  </form>
  </body>