mat-toolbar {
    background-color: rgb(15, 146, 15);
    
  } 
  .mb-3 {
    
    height: 200px;
    position: absolute;
    top: 30%;
    left: 40%;
    margin-top: -100px;
    margin-left: -100px;
    text-align: center;

  }

  .example-container .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
  section {
    display: table;
  }
  
  
  .example-button-row {
    display: table-cell;
    width: 490px;
  }
  
  .example-button-row .mat-button-base {
    margin: 8px 8px 8px 0;
  }


  