<body>  <mat-toolbar>
    <span class="example-icon">  <img
      width="60"
      alt="Jcy"
      src="https://sv1.picz.in.th/images/2022/12/21/JNQLLQ.jpg"
    /></span>
  </mat-toolbar>
  <form class="mb-3" (ngSubmit)="Get_Register()" [formGroup]="formRegister">
    <h1>Register</h1>
    <div class="example-container">
  <p>
    <mat-form-field appearance="outline" >
      <mat-label>Username</mat-label>
      <input matInput formControlName="Username" name="Username">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput formControlName="Password" name="Password">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Firstname</mat-label>
      <input matInput formControlName="Firstname" name="Firstname">
    </mat-form-field>
    
    <mat-form-field appearance="outline">
      <mat-label>Lastname</mat-label>
      <input matInput formControlName="Lastname" name="Lastname">
    </mat-form-field>
  
  <p>
    <mat-form-field appearance="outline">
      <mat-label>EmpNo</mat-label>
      <input matInput formControlName="EmpNo" name="EmpNo">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Position</mat-label>
      <input matInput formControlName="Position" name="Position">
    </mat-form-field>
  </p>
  <div  class="form-group">
    
    <label for="Department" class="form-label">ฝ่าย(Department)
    <select formControlName="Department" class="form-select" >
      <option></option>
      <option>Quality Assurance  </option>
      <option>Production</option>
      <option>Engineering</option>
      <option>Human Resources</option>
      <option>Finance&Accounting</option>
      <option>Management</option>
      <option>Supply Chain Management</option>
      <option>Facility&Maintenance</option>
      <option>Purchase</option>
    </select></label>

  <label for="Section" class="form-label">แผนก(Section)
  <select formControlName="Section" class="form-select">
    <option></option>
    <option>IPQA/B</option>
    <option>IPQA/A</option>
    <option>QA-MRB 3.5/A</option>
    <option>CMM/B</option>
    <option>CQE</option>
    <option>Document/B</option>
    <option>CMM/A</option>
    <option>QA-MRB 2.5/B</option>
    <option>Document/A</option>
    <option>Contamination Control/A</option>
    <option>QA-MRB 2.5/A</option>
    <option>OQA/A</option>
    <option>IQA/A</option>
    <option>OQA/B</option>
    <option>SPC/A</option>
    <option>Calibation/A</option>
    <option>Contamination Control/B </option>
    <option>IQA/B</option>
    <option>QA-MRB 3.5/B</option>
    <option>SPC/B</option>
    <option>MC-Seagate/A</option>
    <option>MC-Seagate/B</option>
    <option>Incoming sort/A</option>
    <option>VMI-DSP/B</option>
    <option>VMI-Seagate/B</option>
    <option>VMI-Seagate/A</option>
    <option>Sorting/A</option>
    <option>Sorting/B</option>
    <option>Washing 3.5/B</option>
    <option>Incoming sort/B</option>
    <option>Washing 3.5/A</option>
    <option>VMI-DSP/A</option>
    <option>Trainning/B</option>
    <option>Trainning/A</option>
    <option>Washing 2.5/A</option>
    <option>Process Engineering/B</option>
    <option>Process Engineering/A</option>
    <option>Automation/A</option>
    <option>Automation/B</option>
    <option>Admin/B</option>
    <option>HRM/A</option>
    <option>HRD/A</option>
    <option>Admin/A</option>
    <option>Accounting/A</option>
    <option>Payroll</option>
    <option>IT</option>
    <option>SHE</option>
    <option>Management</option>
    <option>Warehouse/B</option>
    <option>Warehouse/A</option>
    <option>CS</option>
    <option>Material Planning/A</option>
    <option>Maintenance/B</option>
    <option>Washing/A</option>
    <option>Washing/B</option>
    <option>Maintenance/A</option>
   <option>Facility/A</option>
    <option>Purchase</option>
  </select></label>
</div>


<div class="form-group">
  <label for="Type_of_Employee" class="form-label">ประเภทพนักงาน(Type of Employee)
  <select formControlName="Type_of_Employee" class="form-select">
    <option></option>
    <option>รายวัน</option>
    <option>รายเดือน</option>
  </select></label>



  <label for="Employee_Detail" class="form-label">รายละเอียดพนักงาน(Employee Detail)
  <select formControlName="Employee_Detail" class="form-select">
    <option></option>
    <option>พนักงานใหม่</option>
    <option>พนักงานประจำ</option>
    <option>พนักงานSub</option>
  </select></label>

</div>

    <label for="Joined_date" class="form-label">วันที่เริ่มงาน(Joined date) 
      <input type="date" class="form-control" 
      formControlName="Joined_date" ></label>

  
</div>


  <section>
    <div class="example-button-row">
      <button type="submit"  mat-raised-button>Register</button>
      <button [routerLink]="['/login']"  mat-raised-button>Login</button>
    </div>
  </section>
  </form>
  </body>